:root{
  --icon-size-footer: 30px;
}

.App-header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
body {
  margin: 0;
  font-family: 'League Spartan', san s-serf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7844cc;
}

h1{
  font-size: 64px;
  font-weight: 900;
}
h2{
  font-weight: 300;
}

section{
  padding:50px 100px 50px 100px;
}

//home

#home{
  background-color: whitesmoke;
  text-align: center;
}

.back-video{
  filter: opacity(0.3);
  position: fixed;
  min-height: 100%;
  min-width:100%;
  top:0;
  z-index:-1;
}

.gallery{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.gallery-pic{
  height:200px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  video{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150%;
    width: 150%;
    transform: translate(-50%, -50%);
    transition: all 200ms ease;
  }
  video:hover{
    min-height:175%;
    min-width:175%;
  }
  img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 200ms ease;
  }
  img:hover{
    min-height:125%;
    min-width:125%;
  }
}

.gallery-big{
  margin: 0;
  height:400px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  display: inline;
  img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 200ms ease;
  }
  img:hover{
    min-height:125%;
    min-width:125%;
  }
}

// reels

#reels{

  .reel-windows{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .reel-window{
    position: relative;
    padding: 10px;
  }
  h2{
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 48px;
    justify-content: center;
    position: absolute;
    z-index:-500;
    top: 40%;
  }
}

// footer
#footer{
  padding: 30px 50px 40px 50px;
  margin: 10px 0px 0px 0px;
  width: 100%;
  min-height: 150px;
  background:none;
  ul li{
    list-style: none;
    padding: 0;
    margin: 5px 0px 0px 0px;
    max-height: 15px;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  h4{
    font-size: 24px;
  }
  p{
    color: white;
    font-size: 18px;
    font-weight:100;
  }
  a{
    font-weight: 100;
    color:white;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  color: white;
  height: 100px;
  border-radius: 8px;
  align-items: left;
  justify-content: left;
}

//illus

#illus{
  padding:50px 120px 50px 120px;
  h2{
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 48px;
    justify-content: center;
  }

}

.illus-gallery{  height: 650px;
  display: grid;
  grid-gap:10px;
  grid-template-columns: 5fr 3fr;
}

.illus-gallery-2{
  grid-gap: 10px;
  width: 650px;
  display: grid;
  grid-template-columns: 1fr;
}

//comm

#comm{
  h2{
    color: white;
    font-weight: 600;
    font-size: 48px;
  }
  .comm-table{
    margin: 0px 100px 50px 100px;
  }

  table{
    tr{
      color: white;
    }
    width: 100%;
    font-size: 28px;
    th{
      color: #E4B0FC;
    }
    .table-head{
      color:#E4B0FC;
      font-weight: 800;
    }
    .notice{
      border-radius: 5px;
      padding: 5px 20px 5px 20px;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

// icons

.icon-advanced {
  background: url('../img/copyright.svg');
  background-repeat: no-repeat;
  background-size: cover; 
  display: inline-block;
  height: 12px;
  width: 12px;
}

.icon-ig {
  background: url('../img/ig.svg');
  background-repeat: no-repeat;
  background-size: cover; 
  display: inline-block;
  height: 30px;
  width: 30px;
}

.icon-as {
  background: url('../img/as.svg');
  background-repeat: no-repeat;
  background-size: cover; 
  display: inline-block;
  height: var(--icon-size-footer);
  width: var(--icon-size-footer);
}

//resopnsive

@media (max-width: 900px) {
  .boxes {
    grid-template-columns: 1fr;
  }
  .gallery-1{
    grid-template-columns: 1fr;
  }
  .gallery{
    grid-template-columns: 1fr;
  }
  .reel-windows{
    grid-template-columns: 1fr;
  }
  .illus-gallery{
    grid-template-columns: 1fr;
  }

  section{
    padding:50px 10px 50px 10px;
  }

  #illus{
    padding:50px 10px 50px 10px;
  }
}