//illus

#illus{
    padding:50px 120px 50px 120px;
    h2{
        color: white;
        font-weight: 600;
        text-align: center;
        font-size: 48px;
        justify-content: center;
    }
}

.illus-gallery{  
    height: 650px;
    display: grid;
    grid-gap:10px;
    grid-template-columns: 5fr 3fr;
}

.illus-gallery-2{
    grid-gap: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
  

.card{
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(33, 19, 39, 0.7);
    position: relative;
    overflow: hidden;
    border: none;
    transition: 0.3s;
}

.card-landscape{
    height: 100%;
    width: 100%;
    .btn-purple{
        display: none;
        max-width: 150px;
        background-color:#7844cc;
        color: white;
        position: absolute;
        bottom: 15px;
        left: 10px;
    }
    h3{
        display: none;
        transition: 200ms;
        color: #7844cc;
        font-weight: 500px;
        position: absolute;
        bottom: 45px;
        left: 10px;
    }
    img{
        top: -15%;
        left: -10%; 
        max-width: 1200px;
        min-width: 900px;
    }
}

.card-portrait{
    .btn-purple{
        display: none;
        max-width: 150px;
        background-color:#7844cc;
        color: white;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    h3{
        display: none;
        transition: 200ms;
        color: #7844cc;
        font-weight: 500px;
        position: absolute;
        top: 55px;
        left: 10px;
    }
    height: 100%;
    width: 100%;
    img{
        left: -20%;
        top: -10%;
        min-height: 750px;
        max-height: 900px;
        min-width: 900px;
    }
}

.card:hover{
    h3{
        display: block;
    }
    .btn-purple{
        display:block;
    }
    cursor: pointer;
    img{
        filter:brightness(50%);
        min-width: 130%;
        min-height: 130%;
    }
    h3{
        color:white;
    }
}

@media (min-width: 1500px) {
    .illus-gallery{  
      height: 900px;
      display: grid;
      grid-gap:10px;
      grid-template-columns: 5fr 3fr;
    }
    
    #illus{
      padding:20px 400px 20px 400px;
    }
    
    .illus-gallery-2{
      grid-template-columns: 1fr;
    }
  }

  @media (max-width:900px){
    .illus-gallery{
        grid-template-columns: 1fr;
      }
  }